importClassesFrom(methods, list)

importMethodsFrom(DBI, dbCommit, dbConnect, dbDisconnect, dbDriver,
                  dbGetQuery, dbListTables)

importMethodsFrom(RSQLite, dbBegin, dbGetPreparedQuery)

importFrom(RSQLite, SQLite)

##export everything that does not start with a . or an _
exportPattern("^[^\\._]")
